body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  background: hsla(185, 41%, 84%, 1);
  width: 375px;
  height: 933px;
  display: grid;
  align-items: center;
}